body {
	background: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
p {
	color: black;
	margin: 4px;
	margin-bottom: 17px;
	font-weight: 500;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 500px;
	margin: none;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: xx-large;
	font-weight: 500;
	height: 50px;
}
.postcard-body {
	display: flex;
	width: 400px;
	margin: none;
}
input {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	font-size: large;
	color: grey;
	width: 150px;
	border: none;
	border-bottom: 1px solid rgba(139, 138, 138, 0.425);
	font-weight: 500;
	border-top: none;
}
input,
textarea {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgba(128, 128, 128, 0.473);
	padding: 5px;
	border-bottom: 1px solid grey;
}
